{% extends 'template.html' %}

{% block title %} {{super()}} - list {% endblock %}

{% block content %}
{% for video in videos %}
  <br>
  <div class="card mb-3">
      <img class="card-img-top bg-dark text-white" src="{{ video.image }}" alt="{{video.title}}">
      <div class="card-body bg-dark text-white">
        <h5 class="card-title">{{ video.title }}</h5>
        <p class="card-text">Description: {{ video.description }}</p>
        <p class="card-text">Genre: {{ video.genres }}</p>
      </div>
      <a href="/video/{{ video.id }}" class="btn btn-info" >See</button>
    </div>
{% endfor %}
{% endblock %}