{% extends 'template.html' %}

{% block title %} {{super()}} - Searching... {{search_data}} {% endblock %}

{% block content %}
{% for video in found %}
<br>
<div class="card mb-3">
    <img class="card-img-top bg-dark text-white" src="{{ video.image }}" alt="Card image cap">
    <div class="card-body bg-dark text-white">
      <h5 class="card-title">{{ video.title }}</h5>
      <p class="card-text">Movie description example </p>
    </div>
  </div>
  <a href="/video/{{ video.id }}"><button type="button" class="btn btn-info">See</button></a>
{% endfor %}
{% endblock %}