{% extends 'template.html' %}

{% block title %} {{super()}} - Searching... {{search_data}} {% endblock %}

{% block content %}
<div class="card-columns">
  {% for video in found %}
      <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
          <img class="card-img-top" src="{{ video.image }}" alt="{{ video.title }}">
          <div class="card-body">
              <h5 class="card-title">{{ video.title }}</h5>
              <p class="card-text">{{ video.description }}</p>
              <a href="/video/{{video.id}}" class="btn btn-primary">See</a>
          </div>
      </div>
  {% endfor %}
</div>

{% endblock %}