{% extends 'template.html'%}
{% block content %}
    <div class="container">
        <h1 class=" text-white text-center display-2">Movie Title</h1>
        <figure>
            <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item" allowfullscreen="allowfullscreen" src="https://www.youtube.com/embed/o6ytLPKscrU"></iframe>
            </div>
        </figure>
        <div class="mx-auto">
            <button type="button" class="btn btn-light btn-lg">Take back</button>
        </div>
    </div>
{% endblock %}